@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.8rem;
    color: #ededed;
    font-weight: 600;
}

.navbar a {
    font-size: 1.2rem;
    color: #ededed;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a svg {
    fill: #ededed;
    vertical-align: middle;
    transition: .3s;
}

/* Rimuovi il colore di default dal link attivo */
.navbar a.active {
    color: unset;
}

/* Aggiungi il colore al testo del link attivo */
.navbar a.active,
.navbar a:hover {
    color: #00abf0;
}

/* Rimuovi il colore di default dall'icona del link attivo */
.navbar a.active svg {
    fill: unset;
}

/* Aggiungi il colore all'icona del link attivo */
.navbar a.active svg,
.navbar a:hover svg {
    fill: #00abf0;
}

#menu-icon {
    font-size: 3.6rem;
    color: #ededed;
    cursor: pointer;
    display: none;
}