<section class="center">
    <div class="grid">
        <div *ngFor="let product of products" class="card" [style.backgroundImage]="'url(' + product.images + ')'">
            <div class="heading">
                {{ product.title }}
            </div>
            <div class="details">
                {{ product.description }}
            </div>
            <div class="price">
                Prezzo: {{ product.price }}
            </div>
            <button class="btn1">Acquista</button>
            <button class="btn2">Dettagli</button>
        </div>
    </div>
</section>