section {
    min-height: 90vh;
    padding: 10rem 9% 2rem;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text h4 {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: 0.3s;
}

.text h4:hover {
    background-color: rgb(225, 225, 225);
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
}