* {
    margin-top: 20px;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #100721;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product-card h2 {
    color: white;
    padding: 20px;
    box-sizing: #fff;
}