<!-- login-modal.component.html -->
<div *ngIf="isOpen" class="modal" (click)="close()">
    <div class="topContainer" (click)="$event.stopPropagation()">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
            <form>
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" name="txt" placeholder="User name" class="form-control">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="pswd" placeholder="Password">
                <button>Sign up</button>
            </form>
        </div>
        <div class="login">
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" placeholder="Email" formControlName="email">
                <div class="error-list" *ngIf="fc['email'].errors && isSubmitted">
                    <div *ngIf="fc['email'].errors['required']">*Campo email obbligatorio</div>
                    <div *ngIf="fc['email'].errors['email']">Email errata</div>
                </div>
                <input type="password" name="pswd" placeholder="Password" formControlName="password">
                <div class="error-list" *ngIf="fc['password'].errors && isSubmitted">
                    <div *ngIf="fc['password'].errors['required']">*Campo password obbligatorio</div>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>